body
{
  margin :0px;
  pading: 0px;
  width: 100%;
  height: 2436px;
}
li{
  list-style: none;
}
p
{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px;
}

button
{
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
}

.submenu-button img
{
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.call-button img
{
  margin-left: 5px;
  width: 50px;
  height: 50px;
  padding: 0px;
}

hr
{
  margin: 0px;
}

ul
{
    padding-inline-start: 0px;
    margin: 0px;
}

.img_warp img
{
  width: 500px;
  height: 350px;
  align: center;
  position: relative;
  padding: 0px;

}


.submenu_dropdown
{

}
